.App {
  text-align: center;
}

.App-logo {
  //animation: App-logo-spin infinite 20s linear;
  align-items: left;
  height: 50px;
  background-color: white;
  float: left;
  margin-left:  40px;

}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: White;
      padding: 18px 0 0;


}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-navigation
 {
    justify-content: center;
    height: 46px;
    width: 100%;
    padding: 0;

 } 
   .app-navigation-ul {
  align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 46px;
    width: 80%;
    padding: 0;
    }

.app-navigation-li{
    text-align: center;
        display: inline-block;
    margin-right: 6px;
   padding-bottom: 17px;
    text-transform: uppercase;
    font-size: 14px;
        display: block;
    padding: 5px 11px 0;
    position: relative;
    
}
.app-navigation-a{
  display: block;
    padding: 8px;
    background-color: #222;
      text-decoration: none;
     color: white;
}
.search
{
      background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
    color: #ccc;
    cursor: pointer; 
     height: 24px; 
     margin: 0; 
     max-width: none; 
     outline: 0; 
     padding: 0 3px 0 24px; 
     position: relative; 
    transition: width 0.4s ease, background 0.4s ease;
    width: 24px;
    z-index: 30;
    font-size: 14px;
}

.link-a {
  color: white;
  text-decoration: none;
    border: 1px solid #F4A846;
    border-radius: 3px;
    display: block;
    font-weight: 400;
    padding: 8px 16px;
    text-align: center;
}