.Gheader {
  position: absolute;
  top: 0;
  background: #1A2B6D;
  color: white;
  width: 100%;
  z-index: 1000;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.Gheader-social {
  float: left;
}

.Gheader-social ul {
  float: left;
  padding: 0 0 0 25px;
  margin: 10px 0 0 -2px;
  border-left: 1px solid #fff;
  line-height: 15px; 
}

.Gheader-social ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  margin-top: 2px;
}

.Gheader-social a {
  color: #fff;
}

.nav-utilities {
  float: right;
  font-size: 18px;
}

.nav-utilities ul {
  padding-right: 32px;
  padding-left: 0;
  margin: 0;
}

.nav-utilities ul li {
  list-style: none;
  margin-right: 20px;
  display: inline;
}

.nav-utilities ul li button {
  font-family: "proxima_nova_regular", "Helvetica", san-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 38px;
  color: #aaaaaa;
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

#login {
  max-width: 460px;
  padding: 0;
  text-align: right;
}

.loginform {
  margin-left: 15%; 
  margin-top: 0%;
  font-size: 18px;
  overflow-x: hidden;
}

#members-portal {
  position: relative;
}

.logintitle {
  text-align: center;
  margin-right: 100px;
}

.GothaMedium {
  font-family: GothaMedium;
  font-weight: bold;
}

.logintextfield {
  width: 80%;
}

.logincheckbox {
  margin-left: -13%;
}

.loginlinks { 
  color: black;
  cursor: pointer;
  font-size: 18px;
}

.loginP { 
  color: black;
  font-size: 18px;
}

.loginbtn {
    width: 80%;
    height: 40px;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1A2B6D;
    border: none;
    border-radius: 15px;
}

.signuplink {
  position: relative;
  float: left;
  border: none;
  top: -41px;
  left: 40%;
  color: #1A2B6D;
  cursor: pointer;
  font-size: 18px;
}

.crossbtn{
  float: right;
  border: none;
  top: -20px;
  left: 20px;
  color:  #000000;
  cursor: pointer;
}

.crossimg{
  width: 10px;
  height: 10px;
}

.reqinfo {
  size: 12px;
}

.signupform{
  margin-left: 38%; 
  margin-top: 5%;
  color: black;
  font-size: 20px;
  z-index: 1000;
}

.signupcheckbox {
  margin-left: 1px;
}

.joinus {
  margin-top: 90px;
  margin-left: -57%;
  color: black;
  text-align: center;
}

.signuptextfield {
  width: 45%;
  height: 50px;
}
 
.signupbtn {
  background-color: #1A2B6D;
  color: white;
  cursor: pointer;
  width: 45%;
  height: 50px;
}

.thanks {
  margin-top: 5%;
  color: black;
  text-align: center;
  font-size: 22px;
}

.showpassword{
  position: relative;
  top: -50px;
  left: 64%;
  display: inline-block;
  padding: 4px 16px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1A2B6D;
  border: none;
  border-radius: 15px;  
}




